.head-img-galery {
  display: flex;
  margin: 0;
}

.head-img-galery img {
  aspect-ratio: 12/9;
  object-fit: cover;
  width: 0;

  filter: blur(100%);
  flex-grow: 1;
  height: calc(16rem + 16vh);

  transition: 1s ease;
}
